<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="static/style.css" />
    <title>Sameer Khan - Full Stack Developer</title>
  </head>
  <body>
    <!-- Navigation -->
    <nav>
      <div class="logo">SameerKIndia</div>
      <ul class="nav-links">
        <li><a href="/">HOME</a></li>
        <li><a href="/about">ABOUT ME</a></li>
        <li><a href="/skills">SKILLS</a></li>
        <li><a href="/projects">PROJECTS</a></li>
      </ul>
      <a href="/contact" class="contact-btn">CONTACT</a>
    </nav>

    <!-- Contact Section -->
    <section class="contact" id="thankyou">
      <h2>Thank you!</h2>

      <a class="contact-btn" href="/">Home</a>
    </section>

    <script src="static/index.js"></script>
  </body>
</html>
